<!DOCTYPE html>
<html lang="{{ meta.mainLanguage }}">
  <head>
    <title>{% if title %}{{ title }}{% else %}{{ page.fileSlug }}{% endif %}</title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    {%include "components/pageheader.njk"%}
    {% for imp in dynamics.common.head %}
      {% include imp %}
    {% endfor %}
    {% for imp in dynamics.notes.head %}
      {% include imp %}
    {% endfor %}
  </head>
  <body class="theme-{{meta.baseTheme}} markdown-rendered {{meta.bodyClasses}}">
    
    {%include "components/notegrowthhistory.njk"%}
    
    {% if settings.dgShowFileTree !== true %}
      {%include "components/navbar.njk"%}
    {%else%}
      {%include "components/filetree.njk"%}
    {% endif %}

    {% if settings.dgEnableSearch === true %}
      {%include "components/searchContainer.njk"%}
    {% endif %}

    <div class="page-wrapper">

        <main class="content cm-s-obsidian {{contentClasses}}">
          <header>
            {% if settings.dgShowInlineTitle === true %}
              <h1 data-note-icon="{% if noteIcon %}{{noteIcon}}{% else %}{{meta.noteIconsSettings.default}}{% endif %}">{% if title %}{{ title }}{% else %}{{ page.fileSlug }}{% endif %}</h1>
            {% endif %}
            <div class="header-meta">
              {% if settings.dgShowTags === true and tags %}
                <div class="header-tags">
                  {% for tag in tags %}
                    {% if tag != 'gardenEntry' and tag !='note' %}
                      <a class="tag" onclick="toggleTagSearch(this)">
                        #{{tag}}
                      </a>
                    {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            
          {% for imp in dynamics.common.header %}
            {% include imp %}
          {% endfor %}
          {% for imp in dynamics.notes.header %}
            {% include imp %}
          {% endfor %}
          </header>
          
          {{ content | hideDataview | taggify | link | replace('<table', '<div class="table-wide"><table') | replace('</table>', '</table></div>') | safe}}
         <div style="display: flex; justify-content: center; margin-top: 60px; margin-bottom: 40px; opacity: 0.5;">
            <img src="/favicon.svg" alt="End of note" style="width: 60px; height: 60px;">
          </div>
        </main>

        {% if settings.dgShowBacklinks === true or settings.dgShowLocalGraph === true or settings.dgShowToc === true%}
          {%include "components/sidebar.njk"%}
        {% endif %}

    </div> 
    {% if settings.dgLinkPreview === true %}
      {%include "components/linkPreview.njk"%}
    {% endif %}
    {% include "components/references.njk" %}
    {% include "components/timestamps.njk" %}
    
    {% include "components/user/common/footer/footer.njk" %}

    {%include "components/lucideIcons.njk"%}
    {% if contentClasses and "canvas-page" in contentClasses %}
      {%include "components/canvasScript.njk"%}
    {% endif %}
  </body>
</html>
