<aside>
    <div class="sidebar right-sidebar"> <div class="sidebar-container">
            
            {% for imp in dynamics.sidebar.top %}
                {% include imp %}
            {% endfor %}

            {%if settings.dgShowLocalGraph === true%}
                {%include "components/graphScript.njk"%}
            {%endif%}

            {%if settings.dgShowToc === true%}
                {%set tocHtml= (content and (content|toc)) %}
                {%if tocHtml %}
                    <div class="toc-container">
                        <div class="sidebar-title">On this page</div>
                        <div class="toc-content">
                            {{ tocHtml | safe }}
                        </div>
                    </div>
                {%endif%}
            {%endif%}

            {%if settings.dgShowBacklinks === true %}
                {%- set currentNode = graph.nodes[page.url] or graph.nodes[graph.homeAlias] -%}
                
                {# --- 1. PRE-CALCULATE: Check for valid links first --- #}
                {%- set hasValidBacklinks = false -%}
                {%- if currentNode -%}
                    {%- for backlink in currentNode.backLinks -%}
                        {%- if graph.nodes[backlink].url != page.url and graph.nodes[backlink].url != "/" and graph.nodes[backlink].url != "/index" -%}
                            {%- set hasValidBacklinks = true -%}
                        {%- endif -%}
                    {%- endfor -%}
                {%- endif -%}

                {# --- 2. RENDER: The Clean List --- #}
                {%- if hasValidBacklinks -%}
                    <div class="backlinks">
                        <div class="sidebar-title">{{ meta.uiStrings.backlinkHeader or "Pages mentioning this page" }}</div>
                        <ul class="backlinks-list"> {%- for backlink in currentNode.backLinks -%}
                                {# Filter out Home and Self #}
                                {%- if graph.nodes[backlink].url != page.url and graph.nodes[backlink].url != "/" and graph.nodes[backlink].url != "/index" -%}
                                    <li class="backlink-item">
                                        <a href="{{graph.nodes[backlink].url}}" class="internal-link">
                                            {{graph.nodes[backlink].title}}
                                        </a>
                                    </li>
                                {%- endif -%}
                            {%- endfor -%}
                        </ul>
                    </div>
                {%- endif -%}
            {%endif%}

            {% for imp in dynamics.sidebar.bottom %}
                {% include imp %}
            {% endfor %}
            
        </div>
    </div>
</aside>
