<aside>
      <div class="sidebar">
            <div class="sidebar-container">
                  {% for imp in dynamics.sidebar.top %}
                        {% include imp %}
                  {% endfor %}
                  {%if settings.dgShowLocalGraph === true%}
                        {%include "components/graphScript.njk"%}
                  {%endif%}

                  {%if settings.dgShowToc === true%}
                        {%set tocHtml= (content and (content|toc)) %}
                        {%if tocHtml %}
                              <div class="toc">
                                    <div class="toc-title-container">
                                          <div class="toc-title">
                                                {% if title %}{{ title }}{% else %}{{ page.fileSlug }}{% endif %}
                                          </div>
                                    </div>
                                    <div class="toc-container">
                                          {{ tocHtml | safe }}
                                    </div>
                              </div>
                        {%endif%}

                  {%endif%}

                  {%if settings.dgShowBacklinks === true %}
                        {%- set currentNode = graph.nodes[page.url] or graph.nodes[graph.homeAlias] -%}
                        {%- set hasValidBacklinks = false -%}
                        {%- if currentNode -%}
                              {%- for backlink in currentNode.backLinks -%}
                                    {%- if graph.nodes[backlink].url != page.url and graph.nodes[backlink].url != "/" -%}
                                          {%- set hasValidBacklinks = true -%}
                                    {%- endif -%}
                              {%- endfor -%}
                        {%- endif -%}

                        {%- if hasValidBacklinks -%}
                              <div class="backlinks">
                                    <div class="backlink-title">{{ meta.uiStrings.backlinkHeader }}</div>
                                    <div class="backlink-list">
                                          {%- for backlink in currentNode.backLinks -%}
                                                {%- if graph.nodes[backlink].url != page.url and graph.nodes[backlink].url != "/" -%}
                                                      
                                                      <div class="backlink-simple-row" style="margin-bottom: 8px; display: flex; align-items: center;">
                                                            
                                                            {%- if not meta.noteIconsSettings.backlinks -%}
                                                                  <i data-lucide="link" style="margin-right: 6px; opacity: 0.5; width: 14px;"></i> 
                                                            {%- endif -%}
                                                            
                                                            <a href="{{graph.nodes[backlink].url}}" data-note-icon="{{graph.nodes[backlink].noteIcon}}" class="backlink" style="text-decoration: none;">
                                                                  {{graph.nodes[backlink].title}}
                                                            </a>
                                                      </div>

                                                {%- endif -%}
                                          {%- endfor -%}
                                    </div>
                              </div>
                        {%- endif -%}
                  {%endif%}
                  {% for imp in dynamics.sidebar.bottom %}
                        {% include imp %}
                  {% endfor %}
            </div>
      </div>
</aside>
