---
permalink: /searchIndex.json
eleventyExcludeFromCollections: true
---
[
{%- set firstItem = true -%}
{%- for note in collections.note -%}
    {# 1. The Logic: Filter out Homepage and 'search: false' #}
    {%- if note.url != "/" and note.data.search != false -%}
        
        {# 2. The Comma Fix: Only print comma if it's NOT the first valid item #}
        {%- if not firstItem -%},{%- endif -%}
        {%- set firstItem = false -%}

        {# 3. The Object #}
        {
            "url": "{{ note.url }}",
            "title": {{ note.data.title | default(note.fileSlug) | dump | safe }},
            "content": {{ note.templateContent | striptags(true) | dump | safe }},
            "tags": {{ note.data.tags | dump | safe }}
        }
    {%- endif -%}
{%- endfor -%}
]
